<%- include('./base/header.ejs') %>
  <div class="container">
         <div class="alert text-center bg-light my-3" style="color: black;">
            <h4>Signup form</h4>
         </div>
  </div>

  <div class="container">
             <div class="row">
                <div class="col"></div>
                <div class="col">
                    <form action="/add/user" method="post">
                        <div>
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" name="firstName">
                        </div>
                        <div>
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" name="lastName">
                        </div>
                        <div>
                            <label class="form-label">Email:</label>
                            <input type="text" class="form-control" name="email">
                        </div>
                        <div>
                            <label class="form-label">Password:</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <input type="submit" value="Sign In" class="btn btn-secondary w-100 my-3">
                        <div>
                            <a href="/" class="btn btn-danger w-100 my-3">Login up</a>
                        </div>
                    </form>
                </div>
                <div class="col"></div>
             </div>
  </div>
<%- include('./base/footer.ejs') %>